<% @score_rank.each do |rank| %>
<label>スコア:</label> <label> <%= rank.score %> </label>
  <% rank.characters.each do |character| %>
    <label> <%= character.name %> </label>
  <% end %>
<% end %>

<% @damage_rank.each do |rank| %>
  <label> <%= rank.damage %> </label>
<% end %>